$laptop: 1728px;
$tablet: 834px;
$mobile: 404px;

@mixin laptop {
  @media (max-width: $laptop) {
    @content
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content
  }
}
