:root {

  --bg-color: #373E45;

  --primary-color: #FFFFFF;
  --secondary-color: #FFFFFF4D;

  --font-family: "Inter";

  --container-width: 1230px;
  --container-padding-x: 15px;
  --container-padding-y: 90px;

  --border-radius: 4px;
  --card-border: 1px solid #E5E8ED;
}