@use "media" as *;
@use "normalize" as *;
@use "global" as *;
@use "variables" as *;

.app {
  padding: 81px 80px 66px 79px;
  color: var(--primary-text-color);



  @include mobile {
    padding: 56px 40px;
  }

}


